.loginMain {
    width: 100%;
}

.loginMain > .loginWrapper {
    width: 100%;
    height: 100vh;
    /* border: 1px solid blue; */
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.loginMain > .loginWrapper .logo {
    width: 142px;
    height: 45px;

    position: absolute;
    top: 30px;
    left: 45px;
}

.loginMain > .loginWrapper > .loginFormDiv {
    height: 100%;
    flex:2;
    /* border: 1px solid red; */

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginMain > .loginWrapper > .loginFormDiv > .login {
    /* border: 1px solid blue; */
    width:100%;
    max-width: 592px;

    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    width: 100%;
    max-width: 588px;
    /* border: 1px solid green; */
}




.loginMain > .loginWrapper > .loginImgDiv {
    height: 100%;
    flex: 1;
    /* border: 1px solid blue; */
}


.loginImgDiv > .login_register_img {
    width:100%;
    height: 100%;
    /* object-fit: contain; */
}


form .title {
    margin: 0px 0px var(--spacing-lg) 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


form .title p {
    font-family: var(--font-Poppins);
    color: var(--text-login-primary);
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    letter-spacing: -1px;
}

form .title .link {
    text-decoration: underline;

    font-family: var(--font-Poppins);
    color: #4831D4;
    font-weight: 400;
    font-size: 11.28px;
    line-height: auto;
    letter-spacing: 0px;
}

form .inputFieldDiv {
    margin: 0px 0px var(--spacing-md) 0px;
}

form .inputFieldDiv label{
    font-family: var(--font-Poppins);
    color: var(--text-login_login-label);
    font-weight: 400;
    font-size: 13px;
    line-height: auto;
    letter-spacing: 0px;
}

form .inputFieldDiv input{
    display: block;
    margin: 5px 0px 0px 0px;

    width:100%;
    height: 39.47px;
    border: 1px solid rgba(102,102,102,0.35);
    border-radius: var(--border-radius-inputField);
}



form .terms_conditions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

form .terms_conditions input[type="checkbox"] {
    margin: 0px var(--spacing-sm) 0px 0px;
}

form .terms_conditions input[type="checkbox"] {
    margin: 0px var(--spacing-sm) 0px 0px;
}

.terms_conditions .customCheckbox {
  width: 22px;
  height: 19px;
  appearance: none; /* Hide default checkbox */
  -webkit-appearance: none; /* Safari */
  background-color: black;
  border: 2px solid white; /* Optional - helps visibility */
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.terms_conditions .customCheckbox:checked::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 7px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


form .terms_conditions label {
    cursor: pointer;

    font-family: var(--font-Poppins);
    color: #323232;
    font-weight: 400;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0px;
}


form .terms_conditions label > span {
    color: #181818;
    text-decoration: underline;

    cursor: pointer;
    /* margin: 0px 5px; */
}

form > .loginBtn {
    cursor: pointer;
    height: 45.1px;
    margin: calc(var(--spacing-lg) + 5px) 0px 0px 0px;
    border: none;
    width:100%;
    border-radius: 28.19px;
    background-color: var(--bg-user-login_login);

    font-family: var(--font-Poppins);
    color: var(--text-btn);
    font-weight: 500;
    font-size: 15.5px;
    line-height: auto;
    letter-spacing: 0px;

    transition: 0.2s transform ease-in-out;
}


form > .loginBtn:active {
    transform: scale(0.9);
}

.footerText {
    width:100%;

    position: absolute;
    bottom: 30px;
    left: 0px;
    /* border: 1px solid red; */
    text-align: center;


    font-family: var(--font-Inter);
    color: var(--text-privacyPolicy);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
}

.footerText > span {
    text-decoration: underline;
    cursor: pointer;
}


.forgotPasswordLink {
    font-family: var(--font-Inter);
    color: var(--text-priceBtn);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    text-decoration: underline;

    margin: var(--spacing-lg) 0px var(--spacing-md) 0px;

    /* border: 1px solid red; */
    width:100%;
    text-align: center;
    display:block
}


.accountText {
    font-family: var(--font-Inter);
    color: var(--text-login-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    text-decoration: none;

    /* border: 1px solid red; */
    text-align: center;
}

.accountText > .signUpLink {
    color: var(--text-priceBtn);
}