
.contactcenterMain {
    width: 100%;
}

.contactcenterMain > .contactcenterWrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contactcenterMain > .contactcenterWrapper .contactcenterSidebar {
    flex:1;
    height: 100vh;
    border-right: 1px solid #E7E7E7;

    background-color: var(--bg-sidebar);
}

.contactcenterMain > .contactcenterWrapper .ChatsSection {
    flex: 3;
    height: 100vh;
    /* border: 1px solid red; */
}

.contactcenterMain > .contactcenterWrapper .messageSection {
    flex: 6;
    height: 100vh;
    border: 1px solid blue;
}

.contactcenterMain > .contactcenterWrapper .infoSection {
    flex: 4;
    height: 100vh;
    border: 1px solid black;
}


